.App {
  text-align: center;
  background-color:#557a95;
  min-height: 100vh;
}

.column{
  float:left;
  padding:10px;
}

.left, .right{  
  width:25%;
}

.center{
  width:50%;
  background-color: #557a95;
  font-size: calc(10px + 2vmin);
  color: white;
}

.right{
  width:20%;
  float:right;
}

.categories{
  padding-top: 40px;
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.question{
  position:center;
  color:#ffffff;
}

.answer{
  position:center;
  color:#ecff97;
}

.greybutton{
  position:center;
  color:rgb(0, 0, 0);
  background-color: #969696;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
