.App {
  text-align: center;
  min-height: 100vh;
}

.column{
  float:left;
  padding:10px;
}

.left, .right{  
  width:25%;
  height: 100%;
}

.center{
  width:50%;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.card{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content: center;
}

.question,.answer{
margin-top:10px;
}

.navbar-brand{
  font-weight: bold;
}

.selectCategoriesContainer{
  padding-top: 40px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content: center;
}

.addcard{
 position:center;
}

.centered{
  position:center;
}

.multipleChoice{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content: center;
  font-size:50%;
}

.addCustom{
  display:flex;
  flex-direction:column;
  justify-content:center;
  font-size:50%;
}

.question{
  position:center;
  color:#000000;
}

.answer{
  position:center;
  color:#000000;
}

.confirmCategory{
  background-color: #969696;
  border-style:solid;
  border-color:black;
  display:flex;
  flex-direction: row-reverse;
  padding:5px;
  align-self:flex-end;
  color:black;
}

label.small{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content: center;
  font-size: small
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
